<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<groups>
			<define name="dailybuild">
				<include name="smoke" />
				<include name="sanity" />
			</define>
			<define name="weeklybuild">
				<include name="smoke" />
				<include name="sanity" />
				<include name="regression" />
				<include name="functional" />
			</define>
			<run>
				<include name="all" />
			</run>
		</groups>
		<classes>
			<class name="com.qa.testngtest.NewTest" />
			<class name="com.qa.testngtest.NewTest2" />
		</classes>
	</test>
</suite>
